MINT_ADDRESS=7k4M3qsfrEHii5xnjFMxQ33FPtCddmX1DP14fbfoYRMd
ADMIN_SECRET_KEY=privateKey 

FIRST_RECIPIENT_PRIVATE_KEY=privateKey 
SECOND_RECIPIENT_PRIVATE_KEY=privateKey 
THIRD_RECIPIENT_PRIVATE_KEY=privateKey 
FOURTH_RECIPIENT_PRIVATE_KEY=privateKey 
FIFTH_RECIPIENT_PRIVATE_KEY=privateKey 